.container {
    z-index: 2;
    height: 100vh;
}

.container:after {
    display: block;
    position: absolute;
    inset: 0;
    content: "";
    z-index: -1;

    background-image: url("/bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;

    opacity: .2;
}

._body {
    padding-top: 20vh;
    width: 100%;
}

._content {
    max-width: 1370px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

._left {
    flex-grow: 1;
}

._left h1 {
    font-size: 5rem;
    line-height: 5rem;
    margin: 0;
}

._left p {
    width: 450px;
    font-size: 1.2rem;
    line-height: 1.9rem;
    font-weight: 500;
    margin: 2rem 0;
    color: #666;
}

._right {
    width: 50%;
    display: flex;
    justify-content: center;
}

._example {
    width: 100%;
    object-fit: contain;
    object-position: center;
}

._order {
    background-color: #FF4A4A;
    border: none;
    padding: 1rem 3rem;
    color: #fff;
    font-size: 1.2rem;
    border-radius: 50px;
    transition: all .3s 0s ease-in-out;
    cursor: pointer;

    box-shadow: 9px -1px 28px 1px rgba(0,0,0,0.23);
    -webkit-box-shadow: 9px -1px 28px 1px rgba(0,0,0,0.23);
    -moz-box-shadow: 9px -1px 28px 1px rgba(0,0,0,0.23);
}

._order:hover {
    box-shadow: 9px -1px 31px 4px rgba(0,0,0,0.30);
    -webkit-box-shadow: 9px -1px 31px 4px rgba(0,0,0,0.30);
    -moz-box-shadow: 9px -1px 31px 4px rgba(0,0,0,0.30);
}
